    @font-face{
        font-family: actionis; 
        src: url('../landing/actionis.ttf')
    }

nav{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

nav section{
    width: 20%; 
}
nav section h2{
    font-family: actionis;
    text-shadow: 1px 3px 2px white;
}

nav ul{
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 40%; 
}

nav ul li{
    margin-left: 15px;
}